@import "tailwindcss";

@source "../../apps/**/*.{ts,tsx}";
@source "./**/*.{ts,tsx}";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --background-image-glow-conic: conic-gradient(
    from 180deg at 50% 50%,
    #2a8af6 0deg,
    #a853ba 180deg,
    #e92a67 360deg
  );

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --font-sans:
    var(--font-sans), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@utility text-balance {
  text-wrap: balance;
}

:root {
  --font-sans: font-sans;
  --background: hsl(167 100% 99%);
  --foreground: hsl(167 5% 10%);
  --card: hsl(167 50% 99%);
  --card-foreground: hsl(167 5% 15%);
  --popover: hsl(167 100% 99%);
  --popover-foreground: hsl(167 100% 10%);
  --primary: hsl(167 93.1% 33.9%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(167 30% 90%);
  --secondary-foreground: hsl(0 0% 0%);
  --muted: hsl(129 30% 95%);
  --muted-foreground: hsl(167 5% 40%);
  --accent: hsl(129 30% 90%);
  --accent-foreground: hsl(167 5% 15%);
  --destructive: hsl(0 100% 50%);
  --destructive-foreground: hsl(167 5% 99%);
  --border: hsl(167 30% 82%);
  --input: hsl(167 30% 50%);
  --ring: hsl(167 93.1% 33.9%);
  --radius: 1rem;
}
.dark {
  --background: hsl(167 10% 10%);
  --foreground: hsl(167 0% 96%);
  --card: hsl(167 0% 10%);
  --card-foreground: hsl(167 0% 96%);
  --popover: hsl(167 10% 5%);
  --popover-foreground: hsl(167 0% 96%);
  --primary: hsl(167 93.1% 33.9%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(167 10% 20%);
  --secondary-foreground: hsl(0 0% 100%);
  --muted: hsl(129 10% 25%);
  --muted-foreground: hsl(167 0% 65%);
  --accent: hsl(129 10% 25%);
  --accent-foreground: hsl(167 0% 95%);
  --destructive: hsl(0 50% 50%);
  --destructive-foreground: hsl(167 0% 96%);
  --border: hsl(167 20% 50%);
  --input: hsl(167 20% 50%);
  --ring: hsl(167 93.1% 33.9%);
  --radius: 1rem;
}
